* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
  font-family: "Pretendard", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  border: none;
  background: none;
}

textarea {
  resize: vertical;
}